<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/lol_logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/GD/home">Home</a></td>
        <td><a href="{{site.baseurl}}/{ENTER_URL}">Team_Documentation</a></td>
        <td><a href="{{site.baseurl}}/{ENTER_URL}">Trystan</a></td>
        <td><a href="{{site.baseurl}}/Documentation/Zafeer">Zafeer</a></td>
        <td><a href="{{site.baseurl}}/{ENTER_URL}">Sean</a></td>
        <td><a href="{{site.baseurl}}/{ENTER_URL}">Spencer</a></td>
    </tr>
</table>