<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/lol_logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/projectSummary/anatomy">Home</a></td>
        <td><a href="{{site.baseurl}}/(EnterURL)">Struggles</a></td>
        <td><a href="{{site.baseurl}}/progress">Progress</a></td>
        <td><a href="{{site.baseurl}}/projectSummary/Trystan">Trystan</a></td>
        <td><a href="{{site.baseurl}}/Documentation/Zafeer">Zafeer</a></td>
        <td><a href="{{site.baseurl}}/projectSummary/Sean">Sean</a></td>
        <td><a href="{{site.baseurl}}/projectSummary/Spencer">Spencer</a></td>
    </tr>
</table>
