<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/lol_logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/basics/home">Home</a></td>
        <td><a href="{{site.baseurl}}/projectSummary/documentation">Documentation</a></td>
        <td><a href="{{site.baseurl}}/tangibles/canvas">JS Canvas</a></td>
        <td><a href="{{site.baseurl}}/basics/dom">OOP</a></td>
        <td><a href="{{site.baseurl}}/basics/datatypes">Spritesheets</a></td>
        <td><a href="{{site.baseurl}}/basics/js-debug">Teamwork</a></td>
    </tr>
</table>