<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/lol_logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/IC/home">Home</a></td>
        <td><a href="{{site.baseurl}}/projectSummary/anatomy">Anatomy</a></td>
        <td><a href="{{site.baseurl}}/tangibles/canvas">JS Canvas</a></td>
        <td><a href="{{site.baseurl}}/basics/dom">OOP</a></td>
        <td><a href="{{site.baseurl}}/basics/datatypes">Spritesheets</a></td>
        <td><a href="{{site.baseurl}}/basics/js-debug">Important_Code</a></td>
    </tr>
</table>